@model IList<EditorTemplateDemo.Models.Home.CustomerIndexModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="page-header">
    <h1>Customers</h1>
</div>
<div>
    @Html.ActionLink("Add", "Add", null, new {@class="btn btn-success pull-right"})
</div>
<table class="table">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Type</th>
        <th>Active</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.FullName</td>
            <td>@customer.CustomerType</td>
            <td>@customer.Active</td>
            <td>@Html.ActionLink("Edit", "Edit", new {id = @customer.Id})</td>
        </tr>
    }
    </tbody>
</table>
